@import "../../assets/sass/mixins.scss";

.home {
  width: 100%;
  max-width: 1520px;
  padding: 35px 15px 35px 15px;
  margin: 25vh auto 0;

  & li {
    &.noLink {
      color: #d6d6d6;
    }

    &.hasLink {
      &:hover {
        font-weight: bold;
        color: #de3737;
        cursor: pointer;
      }
    }

    text-align: center;
    font-size: 96px;
    text-transform: uppercase;
    color: #2f2f2f;
    line-height: 110%;
    transition: 0.1s all ease-out;
    font-weight: 300;

    &:not(:last-of-type) {
      margin-bottom: 50px;
    }

    @include response(tab-port) {
      font-size: 64px;
    }

    @include response(phone) {
      font-size: 48px;
    }

    @include response(sm-phone) {
      font-size: 36px;
    }
  }
}
