@import "../../../assets/sass/mixins.scss";

.categoriesListWrapper {
  padding-top: 275px;
  padding-bottom: 150px;

  @include response(tab-port) {
    padding-top: 225px;
    padding-bottom: 100px;
  }

  @include response(phone) {
    padding-top: 150px;
    padding-bottom: 75px;
  }

  @include response(sm-phone) {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

.fullSize {
  width: 100%;
  max-width: 1920px;
}

// 1 COLUMN = 8.3%
.cl {
  max-width: 1520px;
  width: 100%;
}

.cl12 {
  width: 100%;
}

.cl10 {
  width: 83%;
}

.cl7 {
  width: 58.1%;
}

.cl4 {
  width: 33.2%;
}

/////////////////// UTILITIES
.flex {
  display: flex !important;
}

.flexEnd {
  align-items: flex-end;
}

.rightSide {
  display: block;
  margin-left: auto;
}

.leftSide {
  display: block;
  margin-right: auto;
}

.centerSide {
  display: block;
  margin: 0 auto;
}

///
.item {
  margin: 10vh auto;
  max-width: 100%;
  position: relative;
  will-change: transform;
}

.itemImgWrap {
  --aspect-ratio: 1/1.5;
  overflow: hidden;
  width: 500px;
  margin: 0 auto;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
  max-width: calc(100% - 2rem);
  will-change: transform;
}

.item:first-child .itemImgWrap {
  --aspect-ratio: 8/10;
  --image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/1.jpg);
}

.item:nth-child(2) .itemImgWrap {
  width: 1000px;
  --aspect-ratio: 120/76;
  --image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/2.jpg);
}

.item:nth-child(3) .itemImgWrap {
  --aspect-ratio: 60/75;
  --image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/3.jpg);
}

.item:nth-child(4) .itemImgWrap {
  width: 800px;
  --aspect-ratio: 900/505;
  --image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/4.jpg);
}

.item:nth-child(5) .itemImgWrap {
  --aspect-ratio: 6/8;
  --image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/5.jpg);
}

.item:nth-child(6) .itemImgWrap {
  width: calc(100vw - 2rem);
  --aspect-ratio: 1500/844;
  --image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/6.jpg);
}

.item:nth-child(7) .itemImgWrap {
  width: 900px;
  --aspect-ratio: 1000/749;
  --image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/7.jpg);
}

.item:nth-child(8) .itemImgWrap {
  width: 900px;
  --aspect-ratio: 1000/562;
  --image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/8.jpg);
}

.item:nth-child(9) .itemImgWrap {
  --aspect-ratio: 60/75;
  --image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/9.jpg);
}

.itemImg {
  --overflow: 40px;
  height: calc(100% + (2 * var(--overflow)));
  top: calc(-1 * var(--overflow));
  width: 100%;
  position: absolute;
  background-image: var(--image);
  background-size: cover;
  background-position: 50% 0%;
  will-change: transform;
}

.itemImgT1 {
  --overflow: 60px;
}

.itemImgT2 {
  --overflow: 80px;
}

.itemImgT3 {
  --overflow: 120px;
}
