.fullSize {
  width: 100%;
}

.cl {
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.cl12 {
  width: 100%;
}

.cl10 {
  width: 70%;
}

/////////////////// UTILITIES
.rightSide {
  display: block;
  margin-left: auto;
}

.leftSide {
  display: block;
  margin-right: auto;
}

.centerSide {
  display: block;
  margin: 0 auto;
}
