@import "../../../assets/sass/mixins.scss";

.sport {
  & .headingWrapper {
    padding-top: 130px;
    display: flex;
    justify-content: center;

    @include response(tab-port) {
      padding-top: 100px;
    }

    @include response(phone) {
      padding-top: 80px;
    }

    & .headingContainer {
      text-align: center;
      & .backButton {
        font-size: 24px;
        font-weight: 300;
        color: #696969;
        font-style: italic;

        @include response(phone) {
          font-size: 20px;
        }

        &:hover {
          color: #2f2f2f;
          transition: 0.1s all ease-out;
        }
      }

      & .sectionHeading {
        font-size: 72px;
        line-height: 110%;
        color: #de3737;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 10px;
        letter-spacing: 10px;

        @include response(tab-port) {
          font-size: 60px;
        }

        @include response(phone) {
          font-size: 48px;
        }

        @include response(sm-phone) {
          font-size: 36px;
        }
      }
    }
  }

  & .photosWrapper {
    margin-top: 75px;
    display: flex;
    flex-direction: column;

    @include response(phone) {
      margin-top: 50px;
    }

    & > *:not(:last-child) {
      margin-bottom: 150px;

      @include response(tab-port) {
        margin-bottom: 100px;
      }

      @include response(phone) {
        margin-bottom: 75px;
      }

      @include response(sm-phone) {
        margin-bottom: 50px;
      }
    }
  }
}
