@import "../../assets/sass/mixins.scss";

.active {
  color: #03f2f3 !important;
}

.header {
  max-width: 1520px;
  padding: 35px 15px;
  margin: 0 auto;
  padding: 35px 15px;
  mix-blend-mode: difference;
  top: 0px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  pointer-events: none;
  justify-content: space-between;

  & a {
    pointer-events: all;
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;

    @include response(phone) {
      font-size: 20px;
    }
  }

  @include response(tab-port) {
    padding: 30px 15px;
  }

  @include response(phone) {
    padding: 20px 15px;
  }

  @include response(sm-phone) {
    padding: 15px;
  }
}
