@import "../../assets/sass/mixins.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.nav {
  width: 100%;
  max-width: 1520px;
  padding: 35px 15px;
  margin: 0 auto;

  @include response(tab-port) {
    padding: 30px 15px;
  }

  @include response(phone) {
    padding: 20px 15px;
  }

  @include response(sm-phone) {
    padding: 15px;
  }
}

.list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & a {
    color: #2f2f2f;
    font-weight: 700;
    display: block;
    font-size: 24px;
    text-decoration: none;

    @include response(phone) {
      font-size: 20px;
    }
  }
}

.active {
  color: #f60100 !important;
}
